header .fa {
    font-size: 20px;
    padding: 5px;
    color: silver;
}

header .fa:hover {
    color: white;
}

footer .fa {
    font-size: 20px;
    padding: 2px;
    color: silver;
}

footer .fa:hover {
    color: white;
}